h4, h6 {
  padding: 0;
  margin: 0;
}

.slider .btn {
  margin-top: 2rem;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

/* section-icons layout*/
.section-icons,
.places
 {
    display: grid;
    grid-template-columns: 300px;
    justify-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  @media only screen and (min-width: 850px) {
    .section-icons,
    .places
     {
      grid-template-columns: repeat(3, 1fr);
    }
  }
    
/* Card panel layout */
.card-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* section places */

.places__title {
  grid-column: 1/-1;
  text-align: center;
}

.places__btn {
  grid-column: 2/3;
}

/* Section follow */
.follow {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.follow__icons a {
  display: inline-block;
  margin: 0 .7rem;
}



